body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to bottom left, black, #68aeeb);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: auto;
  color: white;
}

@media only screen and (min-width: 400px) {
  body {
    background-image: linear-gradient(to bottom left, black, #68aeeb);
    background-size: cover;
  }
}

img {
  width: 40%;
  height: 40%;
  margin-top: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
